<!DOCTYPE html>
<html>
    <head>
        <title>Questing Heroes - Hero Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 th:text="${hero.name}">name</h2>
        <h3 th:text="${hero.status}">status</h3>
        <p th:text="'Level: ' + ${hero.level}">level</p>
        <p th:text="'Health: ' + ${hero.health}">health</p>
        <p th:text="'Gold: ' + ${hero.gold}">gold</p>
        <form method="get" action="/heroes">
            <button>Back</button>
        </form>
    </body>
</html>
