<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Turbo Drifting - Drivers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>All Drivers</h1>
        <ul>
            <li th:each="driver:${drivers}">
                <a th:href="@{drivers/{item}(item=${driver.name})}" th:text="${driver.name} + ' (rep ' + ${driver.rep} + ')'">driver</a>
                <br>
            </li>
        </ul>
        <br>
        <br>
        <form method="post" action="/drivers">
            <input type="text" name="driverName" placeholder="New Driver Name..." required>
            <button>Add New Driver</button>
        </form>
        <form method="get" action="/">
            <button>Back</button>
        </form>
    </body>
</html>
